@page
@model DynamicProgrammingPageModel

<partial name="ResultView" model="Model.ResultViewModel" />

<div style="color: deepskyblue">
	Looks good, barely fail. The result is correct, and also ableo to read the result number. 
</div>